* {
  margin: 0;
  padding: 0;
}
div#root {
  padding: 1em;
}
.banner {
  display: grid;
  height: 100vh;
  width: 98vw;
  background-color: #008380;
  justify-content: center;
  align-items: center;
  color: #008380;
}
.text {
  position: absolute;
  top: 50%;
  right: 50%;
}
// Menu

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  .home-logo {
    width: 50px;
    img {
      width: 100%;
    }
  }
  .nav {
    height: 70px;
    ul {
      height: inherit;
      list-style: none;
      display: flex;
      li {
        height: inherit;
        margin: 0 0.6em;
        a {
          height: inherit;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #007370;
        }
        .active {
          color: #e84e1b;
        }
      }
    }
  }
}

.course-img {
  contain: content;
  width: 100%;
  display: flex;
  height: 15em;
  position: relative;
  top: 0em;
}
.dats-course {
  display: grid;
  justify-content: center;
  margin: 1em;
}
.money {
  text-align: center;
  border: 1px solid #008380;
  width: 51%;
  margin: auto;
  padding: 0.6em;
  background-color: #008381d7;
  cursor: pointer;
  color: #fff;
}
.money:hover {
  background-color: #00838180;
  color: #e84e1b;
}
.money:active {
  border: 1px solid #e84e1b;
}
.grid-course {
  display: grid;
  margin: 1em;
}
.perfil-tacher {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
}
.teacher {
  background: rgb(34, 141, 127);
  border-radius: 50%;
  border: none;
  width: 2em;
  height: 2em;
  margin: 1em;
}
.nameteacher {
  font-size: 14px;
  text-align: left;
  margin-left: 1.2em;
}
.teacher {
  background: red;
  border-radius: 50%;
  border: none;
  width: 2em;
  height: 2em;
}
.course-title {
  text-align: center;
  font-size: 18px;
  margin-left: 0.5em;
}
.list-course {
  margin: 1em;
}
@media (min-width: 719px) {
  .list-course {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

//Form
.form-content {
  display: grid;
  justify-content: center;
  align-items: center;
  .form {
    color: #088b89cb;
    display: grid;
    border: 1px solid #00a09a;
    padding: 0.5em;
    margin: 1em;
    &__title {
      text-align: center;
      color: #008381de;
    }
    &-content__input {
      display: grid;
      grid-gap: 0.3em;
    }
    input[type="submit"] {
      position: relative;
      top: 0.5em;
    }
    &__input:focus {
      border: 1px solid #03b1ab;
      box-shadow: inset -3px -4px 5px 0px;
      color: #03b1ab;
      font-size: 14px;
    }
  }
}

//Users
.card-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em 4em;
  margin: 1em 4em;
  grid-gap: 2em;
  &__title {
    grid-column: 1/-1;
    text-align: center;
  }
  &__users:hover {
    box-shadow: 2px -1px 16px 1px;
  }
  &__users {
    background: #00838021;
    color: #1b1919;
    border: 1px solid #ccc;
    padding: 2em;
    display: grid;
    justify-content: center;
    h1 {
      text-align: center;
      padding: 0.5em;
    }
    p {
      padding: 0.5em;
    }
  }
}
